/* Globals */
body #et-boc .et_pb_column strong,
body #et-boc .et_pb_column b {font-family: 'Geomanistbold', 'geomanistbold', 'geomanistregular';}


/* =============== OWL */
/* Owl Fixes */
.owl-centered .owl-wrapper {display: table !important;}
.owl-centered .owl-item {display: table-cell;float: none;vertical-align: middle;}
.owl-centered .owl-item > div {text-align: center;}

/* Owl Styling */
.referenzen-1 .owl-item { padding: 10px 30px;}
.referenzen-1 .et_pb_module { width: 150px;  }
.referenzen-1 .et_pb_module img { max-height: 120px; width: auto;  display: inline-block;}

.referenzen-1 .owl-item {filter: grayscale(1)  contrast(.75) brightness(1.25); transition: 200ms;}
.referenzen-1 .owl-item:hover {filter: grayscale(0);background-color: #fff;}

/* Owl Navigation */
.owl-carousel.owl-theme .owl-nav {top: 0;width: 100%;height: 100%;margin: 0;}
.owl-carousel.owl-theme .owl-nav [class*=owl-] {position: absolute;top: 0;font-size: 50px;line-height: 0;height: 100%;min-width: 30px;width: 3vw;max-width: 60px;margin: 0;padding: 0;border-radius: 0;background: #d0d0d0;}
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {background-color: #ececec; color: #7b7b7b;}
.owl-carousel.owl-theme .owl-nav [class*=owl-] span {line-height: 0;}
.owl-carousel.owl-theme .owl-nav .owl-next {right: 0;}
.owl-carousel.owl-theme .owl-nav .owl-prev {left: 0;}

/* Mobile */
@media screen and (max-width: 720px) {
  .referenzen-1 .owl-item { padding: 0px 15px;}
  .referenzen-1 .et_pb_module { width: 100px; }
  .referenzen-1 .et_pb_module img { max-height: 155px;}
}


/* ================== ONLY HOVER */
.onlyHover .et_pb_text_inner p {font-size: 0; overflow: hidden; transition: 200ms; }
.onlyHover:hover .et_pb_text_inner p {font-size: inherit;}

/* ================== TEXT OVERFLOW */
.textOverflow         .et_pb_text_inner p {transition: 350ms;}
.textOverflow         .et_pb_text_inner p .overflowTrigger {left: 100%;font-size: .85em;cursor: pointer;white-space: nowrap;display: none;transition: color 200ms;}
.textOverflow         .et_pb_text_inner p .overflowTrigger:hover {text-decoration: underline;}

.textOverflow.cutted  .et_pb_text_inner p {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.textOverflow.cutted  .et_pb_text_inner p .overflowTrigger {position: absolute;}
.textOverflow.cutted:hover  .et_pb_text_inner p .overflowTrigger {color: #ffd860;}

.textOverflow.cutted  .et_pb_text_inner p .overflowTrigger.opener {display: inline-block;padding: 7px 10px;margin: -7px -10px;}

.textOverflow:not(.cutted) .et_pb_text_inner p .overflowTrigger.closer {display: inline-block;color: #ffd860;}
.textOverflow:not(.cutted) .et_pb_text_inner p {font-size: 1.25em;}


/* ================== CSS: TEXT OVERFLOW */
.cssTextOverflow .et_pb_text_inner p {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;width: 72%;position: relative;padding-right: 5.5em;transition: 200ms, padding 0ms;}
.cssTextOverflow .et_pb_text_inner p:after {content: "[Mehr erfahren]";color:#f2c027;color: #fff;display: inline-block;text-align: left;position: absolute;right: 0;top: 0;font-size: .8em;}

.cssTextOverflow .et_pb_text_inner p:hover {text-overflow: unset;overflow: visible;white-space: inherit;padding-right: 0;}
.cssTextOverflow .et_pb_text_inner p:hover:after {content:"";}
